.bold {
  font-weight: 500;
}

.nowrap {
  white-space: nowrap;
}

.productTitle {
  composes: bold;
  composes: nowrap;
  display: flex;
  align-items: center;
}

.variantCount {
  composes: nowrap;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  font-size: 0.7rem;
  color: var(--grey-200);
}

.colorCircleWrap {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.colorCircle {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.chevronDown {
  transition: transform 0.3s;
}

.activeTag {
  margin-inline-start: 1rem;
  padding-block: 0.3rem;
  padding-inline: 0.7rem;
  font-size: 0.56rem;
  font-weight: 400;
  color: var(--white);
  background-color: var(--lime-green);
  border-radius: 2rem;
}

.cellInput {
  padding: 0;
  font-weight: inherit;
  text-overflow: ellipsis;
  border: 1px solid transparent;
}

.cellInput:read-only {
  background-color: transparent;
  border: 1px solid transparent;
}

.cellInput:read-only:focus {
  outline: none;
}
