:root {
  /* color tokens */
  --white: #fff;
  --grey-300: #444;
  --grey-200: #c3c3c3;
  --grey-100: #f5f5f5;
  --royal-blue: #1d00e8;
  --light-blue: #f1f0ff;
  --lime-green: #65d399;

  /* contextual */
  --color-brand: var(--royal-blue);
  --color-text-body: var(--grey-300);

  scroll-behavior: smooth;
  font-size: 100%;
  color: var(--color-text-body);
}
